html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'RuneScape UF', Verdana, Geneva, Tahoma, sans-serif;
}

#channelSection {
  position:absolute;
  top:0%;
  height:70%;
  width:20%;
  background-color:rgb(95, 95, 95);
  border-bottom: 2px solid rgb(61, 61, 61);
  box-sizing: border-box;
}

#channelForm{
  position:absolute;
  top: 50%;
  left: 50%;
  width:100%;
  transform: translate(-50%, -50%);
}

#channelFormContainer{
  position:absolute;
  bottom: 0px;
  height:10%;
  width:100%;
  box-sizing: border-box;
  border-top:1px solid rgb(61, 61, 61);
}

#itemForm{
  position:absolute;
  top: 23.333333%;
  height:10%;
  width:100%;
  margin-top:0.5em;
}

#channelList{
  position:absolute;
  width:100%;
  height: 80%;
  top:10%;
  text-align:center;
  overflow-y:auto;
}

#channelList a{
  display:block;
  margin-top: 1em;
  font-size: 16pt;
}

#channelList a:last-of-type{
  margin-bottom: 1em;
}

#channelForm, #itemForm{
  text-align:center;
  font-size: 20pt;
}

.labels{
  position: absolute;
  text-align:center;
  font-size: 20pt;
  padding:0px;
  margin:0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#channelLabelContainer, #itemLabelContainer{
  margin:0px;
  padding:0px;
  position:absolute;
  height:10%;
  width:100%;
  box-sizing: border-box;
  border-bottom:1px solid rgb(61, 61, 61);
}

#itemLabelContainer{
  height:23.333333%;
}

#itemPriceSection{
  position:absolute;
  height:30%;
  top:70%;
  width:20%;
  background-color:rgb(95, 95, 95);
  border-top: 2px solid rgb(61, 61, 61);
  box-sizing: border-box;
}

#messageSection {
  position:absolute;
  left:20%;
  width:80%;
  height:100%;
  background-color:rgb(190, 190, 190);
}

#sendMessage{
  position:absolute;
  text-align: center;
  bottom:0%;
  width:100%;
  height:10%;
  background-color:rgb(145, 145, 145);
  vertical-align: middle;
  font-size: 20pt;
}

#messageForm{
  position:absolute;
  padding:0px;
  margin:0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
}

#channelHeader{
  position:absolute;
  padding:0px;
  margin:0px;
  height:10%;
  right:0%;
  width:100%;
  background-color: rgb(145, 145, 145);
  vertical-align: middle;
  text-align:center;
}

#channelHeader h1{
  position:absolute;
  padding:0px;
  margin:0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}


#messages {
  position:absolute;
  height: 80%;
  top:10%;
  width:100%;
  overflow-y:auto;
  font-size: 16pt;
  padding:0px;
  margin:0px;
}

#messages p{
  padding:0px;
  margin: 1em 1em;
}

#messageField{
  width:50%;
  word-break: break-word;
}

.plusButton {
  display:inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid gray;
  overflow:hidden;
  padding:0px;
  vertical-align: middle;
}

.plusIcon{
  width: 100%;
  height:100%;
  padding:0px;
  margin:0px;
}

input{
  font-family: 'RuneScape UF', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14pt;
}

#item{
  text-align:center;
  font-size:16pt;
}

#itemContainer{
  position: absolute;
  top: 46.666666%;
  width:100%;
}